<div class="h-100 d-flex flex-col justify-content-center align-items-center">
  <div>
    <h1>{{ showLogin() ? "Login" : "Register" }}</h1>
    <form
      [formGroup]="showLogin() ? loginForm : registerForm"
      (ngSubmit)="showLogin() ? login() : register()"
      class="card p-3 w-325"
    >
      <div *ngIf="showLogin()" class="mb-3">
        <label class="form-label">Username or email</label>
        <input
          formControlName="identifier"
          type="text"
          class="form-control"
          placeholder="AustinPowers123"
        />
      </div>

      <div *ngIf="!showLogin()" class="mb-3">
        <label class="form-label">Username</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="AustinPowers123"
        />
      </div>
      @if (!showLogin()) {
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email address</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="emailInput"
          placeholder="name@example.com"
        />
      </div>
      }
      <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="passwordInput"
          placeholder="**********"
        />
      </div>
      @if (!showLogin()) {
      <div class="mb-3">
        <label for="confirmPasswordInput" class="form-label">
          Confirm Password
        </label>
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          id="confirmPasswordInput"
          placeholder="**********"
        />
      </div>
      }
      <button
        type="submit"
        class="btn"
        [ngClass]="{
          'btn-warning': !showLogin(),
          'btn-success': showLogin()
        }"
      >
        {{ showLogin() ? "Login" : "Register" }}
      </button>
    </form>
    <div class="already-registered">
      {{ showLogin() ? "Need an account?" : "Already registered?" }}
      <button class="toggle-btn" (click)="toggle()">
        {{ showLogin() ? "Register" : "Log in" }}
      </button>
    </div>
    <div
      *ngIf="message"
      class="alert alert-dismissible mt-2"
      role="alert"
      [ngClass]="{
        'alert-danger': isError,
        'alert-success': !isError
      }"
    >
      <div>
        {{ message }}
        @if (!isError) {
        <button class="toggle-btn" (click)="setLoginView()">Log in</button>
        }
      </div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="onClose()"
      ></button>
    </div>
  </div>
</div>
