.auth__wrapper {
  height: calc(100% - 85px);
}

.card {
  background: linear-gradient(to right, #e8f4fc, #f5f9fc);
  box-shadow: 1px 1px 4px rgb(170, 170, 170);
}

input {
  &::placeholder {
    color: #b9b9b9;
  }
}

.w-325 {
  width: 325px;
}


.already-registered {
  margin-top: 6px;
}

.toggle-btn {
  outline: none;
  border: none;
  background: none;
  text-decoration: underline;
  color: dodgerblue;
}
