.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  gap: 15px;
}

.main-text__button-container {
  display: flex;
  gap: 50px;

  button {
    width: 150px;
    padding: 10px 15px;
  }
}
