.main-text__wrapper {
  background: rgb(238, 238, 238);
  padding: 40px 0px;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  text-align: center;
  margin: 0 auto;
  gap: 15px;

}

.main-text__button-container {
  display: flex;
  gap: 50px;

  button {
    width: 150px;
    padding: 10px 15px;
  }
}
