@use 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html, body { height: 100%; }
body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif !important;
}

main {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-color {
  color: #26395c
}

.secondary-color {
  color: #0e8bff;
}
