@use 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html, body { height: 100%; }
body {
  font-family: 'Roboto', sans-serif !important;
  background: linear-gradient(to bottom right, #c3e6fa, #ffffff);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-color {
  color: #26395c
}

.secondary-color {
  color: #0e8bff;
}

.image__container {
  border: 3px solid black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  cursor: pointer;
  transition: all ease-in 0.3s;
  &:hover {
    scale: 1.03;
  }
}
