@use 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html, body { height: 100%; }
body {
  font-family: 'Roboto', sans-serif !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: calc(100% - 83px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-color {
  color: #26395c
}

.secondary-color {
  color: #0e8bff;
}

.icon__container {
  right: 10px;
  top: 10px;
  border: 1px solid rgb(207, 207, 207);
  background: rgba(255, 255, 255, 0.823);
  border-radius: 7px;
  padding: 6px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in 0.1s;
  cursor: pointer;
  &:hover {
    filter: brightness(75%);
  }
}

.name__container {
  border: 1px solid rgb(207, 207, 207);
  background: rgba(255, 255, 255, 0.823);
  border-radius: 7px;
  padding: 3px 9px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all ease-in 0.1s;
  &:hover {
    filter: brightness(75%);
  }
}
